###################################################
# BioJazz configuration
###################################################

#----------------------------------------
# CPU AND CLUSTER SETTINGS
#----------------------------------------
cluster_type = LOCAL
cluster_size = 1
nice = 15
vmem = 2000000
local_dir = ultrasensitive/localdir

#----------------------------------------
# WORKSPACE AND CUSTOM SCORING MODULES
#----------------------------------------
scoring_class = Ultrasensitive
work_dir = ultrasensitive

#initial_genome = random
initial_genome = load test/custom/Ultrasensitive.obj


#----------------------------------------
# GENOME PARAMS
#----------------------------------------

# Scaling: all concentrations in uM, all 2nd-order rates in uM^-1 s^-1

# Genome class
radius = 1
kf_max = 1e3    # uM^-1 s^-1
kf_min = 1e-3
kb_max = 1e3
kb_min = 1e-3
kp_max = 1e3
kp_min = 1e-3

# Gene class
regulated_concentration_width = 10
gene_unused_width = 4
regulated_concentration_max = 1e3    # 1mM
regulated_concentration_min = 1e-3   # 1nM  ~ 1 molecule in prokaryote

# Domain class
RT_transition_rate_width = 10
TR_transition_rate_width = 10
RT_phi_width = 10
domain_unused_width = 4
RT_transition_rate_max = 1e2
RT_transition_rate_min = 1e-2
TR_transition_rate_max = 1e2
TR_transition_rate_min = 1e-2
RT_phi_max = 1.0
RT_phi_min = 0.0

# ProtoDomain class
binding_profile_width = 10
kf_profile_width = 20
kb_profile_width = 20
kp_profile_width = 10
Keq_profile_width = 10
protodomain_unused_width = 4
Keq_ratio_max = 1e2
Keq_ratio_min = 1e-2

#----------------------------------------
# EVOLUTION PARAMS
#----------------------------------------
inum_genomes = 1
num_generations = 2000
# fossil_epoch = 5    # for genome storage and records of genomes in certain generations, comment if record everygeneration
first_generation = 0    # define the number of the first generation, either 0 or 1
remove_old_files = 0
score_initial_generation = 1
rescore_elite = 0

# selection method
selection_method = kimura_selection
effective_population_size = 1e8 # for kimura_selection only
amplifier_alpha = 1e3   # for kimura_selection only

#selection_method = population_based_selection
evolve_population = 1000    # for population-based selection method only

# mutation settings
mutation_rate_params = 0.0#1
mutation_rate_global = 0.05
gene_duplication_rate = 0.025
gene_deletion_rate = 0.05
domain_duplication_rate = 0.05
domain_deletion_rate = 0.05
protodomain_duplication_rate = 0.0
protodomain_deletion_rate = 0.0
recombination_rate = 0.025

###################################################
# User-defined, application-specific configuration
###################################################

#----------------------------------------
# ANC PARAMS
#----------------------------------------
max_external_iterations = -1
max_internal_iterations = -1
max_complex_size = 12
max_species = 240
max_csite_bound_to_msite_number = 1
default_max_count = 2          # this prevents polymerization (see ANC manual)
default_steric_factor = 1e3    # in micro-mol/L
export_graphviz = nothing
#export_graphviz = network,collapse_states,collapse_complexes

#----------------------------------------
# FACILE/MATLAB SETTINGS
#----------------------------------------
solver = ode23s
#solver = stoch

sampling_interval = 1.0
SS_timescale = 500.0

# MATLAB odeset params
InitialStep = 1e-8
AbsTol = 1e-9
RelTol = 1e-3
MaxStep = 500.0

#----------------------------------------
# SIMULATION/SCORING PARAMS
#----------------------------------------
plot_input = 0
plot_output = 0
plot_species = 0
plot_phase = 1
plot_min = -1

round_values_flag = 0

steady_state_threshold = 1000   # IC settling time
steady_state_score_threshold = 0.5

delta_threshold = 0.01          # relative measure of amplitude used to filter out integration noise
amplitude_threshold = 0.01      # absolute measure of amplitude
ultrasensitivity_threshold = 5  # ratio of 2nd step over 1st step

w_n = 1.0
w_c = 0.1
#w_s = 0.1
w_a = 1.0
w_u = 1.0
w_u1 = 1.0
w_u3 = 0.1

LG_range = 10          # uM (about 6 molecules in 1e-18L vol ???)
LG_delay = ~
LG_strength = 4.0      # in Hz
LG_ramp_time = 3000
LG_steps = 3

LG_timeout = 20000

#stimulus = staircase_equation
#stimulus = ramp_equation
stimulus = ss_ramp_equation

#hill_n = 8
hill_n = 40
hill_k = 5

TG_init = 1000  # uM
cell_volume = 1e-18             # 1e-18L --> sub-cellular volume

lg_binding_profile = 0101001101
tg_binding_profile = 1010001010


#----------------------------------------
# SPREADSHEET EXPORT/ANALYSIS
#----------------------------------------
genome_attribute_names = \
	score, \
	ultrasensitivity_score, \
	amplitude, \
	complexity_score, \
	steady_state_score, \
	num_genes,\


